.pbta.sheet.masks .sheet-header__fields {
    grid-column: span 3/span 3;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.pbta.sheet.masks .sheet-attributes { position: relative; }
.pbta.sheet.masks .masks-background-image { position: absolute; bottom: 0px; left: 0px; width: 100%; z-index: -1; }
.pbta.sheet.masks .masks-background-image img { border: 0px; vertical-align: bottom; width: 100%; background-color: skyblue;}

.pbta.sheet.masks .sheet-wrapper .sheet-bottom .cell.cell--bio { min-height: 175px; }
.pbta.sheet.masks .sheet-wrapper .sheet-bottom .cell.cell--bio .editor { min-height: calc(100% - 40px); }

.pbta.sheet.masks .cell__wrapper { position: relative; width: 100%; }
.pbta.sheet.masks .cell__wrapper > button.resource-control { position: absolute; top: 0; bottom: 0; width: 16px; height: 16px; padding: 0; line-height: 1; text-align: center; margin: auto; border: 1px solid #bcc8de; }
.pbta.sheet.masks .cell__wrapper > button.resource-control.resource-decrease { left: 5px; }
.pbta.sheet.masks .cell__wrapper > input[type="number"] { font-size: 18px; text-align: center; background-color: rgba(0,0,0,0.05); margin: 0; display: block; width: 100%; }
.pbta.sheet.masks .cell__wrapper > button.resource-control.resource-increase { right: 5px; }

.pbta.sheet.masks .influences .influence-name { flex: 4; }
.pbta.sheet.masks .influences input.influence--name { width: calc(100% - 36px); font-size: 18px; text-align: left; height: 32px; margin: 0px 0px 8px 0px; }
.pbta.sheet.masks .influences img.influence-icon { flex: 1; vertical-align: top; border: 0; height: 32px; width: 32px; padding: 0; margin: 0; border-radius: 0; cursor: pointer; }
.pbta.sheet.masks .influences .influence-active { padding-left: 8px; line-height: 32px; flex: 100px; }
.pbta.sheet.masks .influences .influence-controls { text-align: right; }